html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

/* Gui fix */
.dg.ac {
    z-index: 2 !important;
}

.webgl,
#container {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    z-index: 1;
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000;
    z-index: 2;
}

.progress-container {
    width: 30%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.progress-container > .progress-bar {
    height: 2px;
    background-color: #fff;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s;
}

.progress-container > .progress-text {
    font-size: 52px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 48px;
    color: #fff;
}

.position-helper {
    position: fixed;
    top: 50%;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 8px 8px 0 0;
    /* width: 80px; */
    height: 60px;
    z-index: 2;
}

.position-helper > .position {
    color: white;
    font-size: 14px;
}

.interaction-text {
    position: fixed;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    padding: 16px;
    z-index: 2;
    color: #fff;
    border: 1px solid #fff;
    opacity: 0;
    transition: 0.3s ease;
}

.interaction-text.visible {
    opacity: 1;
}


.interaction-text.above {
    bottom: 20%;
}


.insight {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 405px;
    color: #fff;
    font-size: 14px;
    line-height: 1.5;
    z-index: 2;
    padding: 16px;
    text-align: center;
    opacity: 0;
    transition: 0.3s ease;
}

.insight.visible {
    bottom: 48px;
    opacity: 1;
}

.insight.visible::after {
    content: "Press C to close";
    position: absolute;
    left: 50%;
    bottom: 0;
    color: #fff;
    font-weight: bold;
    transform: translate(-50%, 24px);
    font-size: 12px;
    transition: 0.3s;
}

#blocker {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

#instructions {
    width: 100%;
    height: 100%;

    display: -webkit-box;
    display: -moz-box;
    display: box;

    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;

    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;

    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;

    color: #ffffff;
    text-align: center;
    font-family: Arial;
    font-size: 14px;
    line-height: 24px;

    cursor: pointer;
}

.gui {
    color: #e9e9f5;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: normal;
    font-size: 12px;
    display: grid;
    width: 100vw;
    height: 100vh;
    padding: 0;
    place-content: center;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.hud-layer {
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: grid;
}

.hud-layer .crosshair {
    display: grid;
    position: absolute;
    align-self: center;
    justify-self: center;
}

.hud-layer .crosshair img {
    display: grid;
    width: 24px;
}
