html,
body {   
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

#blocker {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

#instructions {
    width: 100%;
    height: 100%;

    display: -webkit-box;
    display: -moz-box;
    display: box;

    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;

    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;

    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;

    color: #ffffff;
    text-align: center;
    font-family: Arial;
    font-size: 14px;
    line-height: 24px;

    cursor: pointer;
}

.gui {
    color: #e9e9f5;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: normal;
    font-size: 12px;
    display: grid;
    width: 100vw;
    height: 100vh;
    padding: 0;
    place-content: center;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

.hud-layer {
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: grid;
}

.hud-layer .crosshair{
    display: grid;
    position: absolute;
    align-self: center;
    justify-self: center;
}

.hud-layer .crosshair img {
    display: grid;
    width: 24px;
}